<app-navigation-bar></app-navigation-bar> <br /><br /><br />
<!-- <a class="nav-link" [routerLink]="['']" (click)="openModal()"
  ><h3 align="left">Create Task</h3></a
> -->
<!-- <app-modal #modal></app-modal> -->

<!-- <app-create-task #modal> </app-create-task> -->
<!-- <button type="button" class="btn btn-primary btn-sm" (click)="onSettingsOpen()">Open Aside</button> -->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Task ID</th>
      <th scope="col">Task Name</th>
      <th scope="col">Project</th>
      <th scope="col">Comments</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList">
      <td>{{ task._id }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.project }}</td>
      <td>{{ task.comments }}</td>

      <td>
        <button
          type="button"
          class="btn btn-success mr-1"
          (click)="viewTask(task._id)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteTask(task._id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container demo">
  <!-- container -->

  <div class="text-center">
    <button
      type="button"
      class="btn btn-demo"
      data-toggle="modal"
      data-target="#myModal2"
    >
      Right Sidebar Modal
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal right fade"
    id="myModal2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel2"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
        </div>

        <div class="modal-body">
          <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </p>
        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
</div>
<!-- container -->
